<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="SECURE_LOG" level="INFO" additivity="false">
        <appender-ref ref="secureLog"/>
    </logger>

    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="INFO"/>
        <logger name="no.nav.common.token_client" level="ERROR" />
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.samordning" level="INFO"/>
        <root level="info">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%level %logger %msg %n</pattern>
            </encoder>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeCallerData>true</includeCallerData>
            </encoder>
        </appender>

        <logger name="io" level="ERROR"/>
        <logger name="org" level="ERROR"/>
        <logger name="com" level="ERROR"/>
        <logger name="no.nav" level="DEBUG"/>
        <logger name="no.nav.common.token_client" level="DEBUG" />
        <logger name="no.nav.security" level="ERROR"/>
        <logger name="no.nav.samordning" level="DEBUG"/>

        <root level="DEBUG">
            <appender-ref ref="stdout_json"/>
        </root>

    </springProfile>
</configuration>